doctype html
html(lang='pt').h-100.w-100

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Matthew W. Thomas e Maria Fernanda Petri Betto vão se casar em 26 de julho de 2025 em São Paulo, Brasil. Envie este formulário para RSVP.')
        meta(name='author', content='Matthew W. Thomas e Maria Fernanda Petri Betto')

        title Matthew &amp; Maria Fernanda | RSVP Sucesso!

        link(rel='icon', type='image/svg+xml', href='/assets/img/favicon.svg')
        link(rel='icon', type='image/png', href='/assets/img/favicon.png')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')

        style .content {max-width: 500px}
        
    body.h-100.w-100.bg-primary.bg-cream-paper
        .d-flex.h-100.w-100.bg-spattern2
            .d-flex.flex-column.justify-content-center.mx-auto
                .content.bg-light.bg-handmade-paper.border.shadow-sm.p-4
                    h1.my-3.text-center Sucesso!
                    p Se você precisar alterar sua seleção, basta enviar o formulário novamente. Usaremos o envio mais recente.
