$paper-images: cream-paper, handmade-paper, paper-fibers, spattern2;

@each $paper in $paper-images {
  .bg-#{$paper} {
    background-image: url("../assets/img/#{$paper}/2x.png") !important;
    background-image: image-set(
      url("../assets/img/#{$paper}/1x.png") 1x,
      url("../assets/img/#{$paper}/2x.png") 2x
    ) !important;
    background-position: top;
    background-attachment: local;
  }
}

.cutout-text {
  color: #fff;
  mix-blend-mode: multiply;
}

// Force z-index to correct for stacking glitch
$num-sections: 5;

body > header {
  position: relative;
  z-index: $num-sections + 1;
}

@for $i from 1 through ($num-sections + 1) {
  body > section:nth-of-type(#{$i}) {
    position: relative;
    z-index: $num-sections + 1 - $i;
  }
}
