//
// Footer
//

.contact-section {
  padding-top: 5rem;

  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;

    h3 {
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }

    hr {
      opacity: 1;
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
}

.valediction {
  font-size: 1.2em;
}

.author-signature {
  font-size: 0.8rem;
  letter-spacing: 0.15rem;

  img {
    max-width: 100%;
  }

  hr {
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: 300px;
    }
  }
}
