//
// Masthead
//

.masthead {
  width: 100%;
  min-height: 800px;
  padding: 15rem 0;
  font-size: 16px;
  background: url('../assets/img/card4.png') center top;
  background-size: 1600px;
  background-repeat: no-repeat;

  h1 {
    margin-top: 100px;
    font-size: 2.5rem;
    text-align: start;
    font-family: $font-family-decorative;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    letter-spacing: normal;
  }

  h2,.btn {
    max-width: 20rem;
    font-size: 1rem;
  }

  #countdown {
    .countdown-number {
      font-size: 1.5rem;
    }

    .countdown-unit {
      font-size: 0.65rem;
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 4rem;
    }

    #countdown {
      .countdown-number {
        font-size: 3.3rem;
      }

      .countdown-unit {
        font-size: 0.85rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 1142px;
    padding: 0;

    h1 {
      margin-top: 0;
      font-size: 6.5rem;
    }

    h2,.btn {
      max-width: 30rem;
      font-size: 1.25rem;
    }

    #countdown {
      .countdown-number {
        font-size: 5rem;
      }

      .countdown-unit {
        font-size: 1.3rem;
      }
    }
  }
}
