//
// Masthead
//

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;

  h1 {
    font-size: 2.5rem;
    text-align: start;
    font-family: $font-family-decorative;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    letter-spacing: normal;
  }

  h2,.btn {
    max-width: 20rem;
    font-size: 1rem;
  }

  #countdown {
    .countdown-number {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .countdown-unit {
      font-size: 0.65rem;
      font-weight: 700;
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 4rem;
    }

    #countdown {
      .countdown-number {
        font-size: 3.3rem;
        font-weight: 700;
      }

      .countdown-unit {
        font-size: 0.85rem;
        font-weight: 700;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
    padding: 0;

    h1 {
      font-size: 6.5rem;
    }

    h2,.btn {
      max-width: 30rem;
      font-size: 1.25rem;
    }

    #countdown {
      .countdown-number {
        font-size: 5rem;
        font-weight: 700;
      }

      .countdown-unit {
        font-size: 1.3rem;
        font-weight: 700;
      }
    }
  }
}
