//
// Masthead
//

.masthead {
  width: 100%;
  font-size: 16px;

  #masthead-bg {
    background: url("../assets/img/card4-sm.png") center top;
    background-size: 768px;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .container {
    padding-top: 240px;
    padding-bottom: 5rem;
    max-width: 900px;
  }

  h1 {
    font-size: 2.5rem;
    text-align: start;
    font-family: $font-family-decorative;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    line-height: initial;
    letter-spacing: normal;

    span {
      display: inline-block;
    }
  }

  h2 {
    max-width: 20rem;
    font-size: 1.25rem;
  }

  .btn {
    font-size: 1rem;
  }

  #countdown {
    .countdown-number {
      font-size: 1.5rem;
    }

    .countdown-unit {
      font-size: 0.65rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .container {
      padding-top: 290px;
    }
  }

  @include media-breakpoint-up(md) {
    #masthead-bg {
      background: url("../assets/img/card4-md.png") center top;
      background-size: 992px;
    }

    h1 {
      font-size: 4rem;
    }

    #countdown {
      .countdown-number {
        font-size: 3.3rem;
      }

      .countdown-unit {
        font-size: 0.85rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    min-height: 1142px;

    #masthead-bg {
      background: url("../assets/img/card4-lg.png") center top;
      background-size: 1600px;
    }

    .container {
      padding: 0;
    }

    h1 {
      margin-top: 0;
      font-size: 6rem;
    }

    h2 {
      max-width: 30rem;
      font-size: 1.5rem;
    }

    .btn {
      font-size: 1.25rem;
    }

    #countdown {
      .countdown-number {
        font-size: 5rem;
      }

      .countdown-unit {
        font-size: 1.3rem;
      }
    }
  }
}
