doctype html
html(lang='pt').bg-light

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Matthew W. Thomas e Maria Fernanda Petri Betto vão se casar em 26 de julho de 2025 em São Paulo, Brasil. Junte-se a nós para a celebração!')
        meta(name='author' content='Matthew W. Thomas and Maria Fernanda Petri Betto')

        title Matthew &amp; Maria Fernanda | Site de Casamento

        link(rel='icon' type='image/svg+xml' href='/assets/img/favicon.svg')
        link(rel='icon' type='image/png' href='/assets/img/favicon.png')

        //- Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Parisienne&display=swap' rel='stylesheet')

        //- Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css?v=' + new Date().getTime(), rel='stylesheet')

    body#page-top.bg-white.bg-cream-paper.constrained

        //- Navigation
        nav#mainNav.navbar.navbar-expand-lg.shadow-sm
            .container.px-4.px-lg-5
                a.navbar-brand(href='/')
                    img(src='/assets/img/mm.svg' alt='Matthew & Maria Fernanda' height='30')
                button#navbarToggle.navbar-toggler.navbar-toggler-right.collapsed(type='button' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#schedule') Programação
                        li.nav-item
                            a.nav-link(href='#registry') Lista
                        li.nav-item
                            a.nav-link(href='#hotels') Acomodações



        //- Masthead
        header.masthead.d-flex.flex-row.text-secondary.bg-light.bg-cream-paper.border-top.border-bottom.border-secondary-subtle.shadow-sm
            //- Fixed object that takes 100% of the parent
            #masthead-bg.position-absolute.w-100.h-100
            .container.px-4.px-lg-5.d-flex.align-items-center.flex-column
                h1.text-center 
                    span Matthew
                    |  &amp; 
                    span Maria Fernanda
                h2.text-center
                    | vão se casar em 
                    time(datetime='2025-07-26 18:00:00-0300') 26 de julho de 2025
                    |  em 
                    data(title='Rosewood São Paulo' value='Al. Rio Claro, 20, São Paulo - SP, 01332-000, Brazil') São Paulo, Brazil
                #countdown.d-flex.flex-row.justify-content-center.flex-wrap.my-4(data-countdown-date='2025-07-26 18:00:00-0300')
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-days' data-countdown-unit='days') 00
                        span.countdown-unit(name='label-days') dias
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-hours' data-countdown-unit='hours') 00
                        span.countdown-unit(name='label-hours') horas
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-minutes' data-countdown-unit='minutes') 00
                        span.countdown-unit(name='label-minutes') minutos
                    .d-flex.flex-column.align-items-center.p-2.m-2.bg-primary.bg-paper-fibers.cutout-text.shadow-sm.rounded
                        span.countdown-number(aria-labelledby='label-seconds' data-countdown-unit='seconds') 00
                        span.countdown-unit(name='label-seconds') segundos
                a.mx-auto.btn.btn-primary.fw-bold.bg-paper-fibers.cutout-text(href='rsvp/?p=,') RSVP agora

        //- Theme JS (includes Bootstrap)
        script!= renderScripts()

        //- Venue & Schedule
        section#schedule.schedule-section.bg-light.bg-handmade-paper.shadow-sm
            .container

                //- Title
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.mb-4 Local &amp; Programação
                        p Estamos ansiosos para comemorar esse dia especial com você! Tanto a cerimônia quanto a festa serão realizadas dentro do complexo do hotel Rosewood São Paulo, com acesso pela Al. Rio Claro, 20. Sugere-se o traje social completo. Serviço de estacionamento com manobrista está disponível no local.

                //- Two Columns of Cards
                .row.my-4
                    //- Ceremony
                    .col-lg.mb-4.my-lg-0
                        .card.text-center.h-100.shadow-sm
                            img.card-img-top(src='/assets/img/rosewood1.jpg' alt='Local da Cerimônia' loading='lazy')
                            .card-body
                                h3.card-title Cerimônia
                                p.card-text Localizada no complexo Rosewood São Paulo, a Capela de 1922 foi totalmente restaurada, marcando o renascimento de um patrimônio histórico que guarda a memória do crescimento da cidade e da imigração italiana para o Brasil no início do século XX.
                                p.card-text
                                    em
                                        | A cerimônia começará pontualmente em 
                                        time.fw-bold(datetime='2025-07-26 18:00:00-0300') 26 de julho às 19h
                                        | .
                            .card-footer
                                address.m-0
                                    strong Endereço:
                                    | 
                                    a(href='https://maps.app.goo.gl/iyPGE872kzMptWFU6' target='_blank') Al. Rio Claro, 40, São Paulo, Brazil

                    //- Reception
                    .col-lg.my-4.my-lg-0
                        .card.text-center.h-100.shadow-sm
                            img.card-img-top(src='/assets/img/rosewood2.jpg' alt='Local da Recepção' loading='lazy')
                            .card-body
                                h3.card-title Recepção
                                p.card-text O Rosewood São Paulo está localizado na Cidade Matarazzo, um complexo reformado de edifícios históricos no coração de São Paulo. O projeto, liderado pelo empresário Alexandre Allard e desenhado pelo arquiteto Jean Nouvel e pelo diretor artístico Philippe Starck, enfatiza a sustentabilidade e a preservação do patrimônio cultural do Brasil.
                                p.card-text
                                    em A recepção será realizada imediatamente após a cerimônia.
                            .card-footer
                                address.m-0
                                    strong Endereço:
                                    | 
                                    a(href='https://maps.app.goo.gl/UyuSpFAiV3htTtyG9' target='_blank') Al. Rio Claro, 20, São Paulo, Brazil

                hr

                //- After the Wedding
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h3.mb-4 Após o casamento
                        p
                            | Como sabemos que muitos de vocês viajarão de longe para comemorar conosco, estamos planejando algumas atividades opcionais pós-casamento no Brasil, tanto na cidade de São Paulo, como no litoral. 
                            strong Mais detalhes em breve.

        //- Registry
        section#registry.registry-section.bg-primary.bg-paper-fibers.shadow-sm
            .container.p-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center.text-white
                        h2.mb-4 Lista
                        p
                            strong Ainda não configuramos nossa lista de presentes. Por favor, volte mais tarde.
                        a.btn.btn-warning.fw-bold.bg-paper-fibers.disabled(href='#' role='button' aria-disabled='true' target='_blank') Veja Nosso Lista

        //- Hotels
        section#hotels.hotel-section.bg-light.bg-cream-paper.shadow-sm
            .container.px-4.px-lg-5

                //- Title
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.text-center
                        h2.mb-4 Acomodações &amp; Sugestões de hotéis

                //- Featured Hotel Row
                .row.gx-0.my-4.mb-lg-5.align-items-center
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='/assets/img/rosewood2.jpg' alt='Exterior do Rosewood São Paulo' loading='lazy')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center
                            a(href='https://www.rosewoodhotels.com/pt/sao-paulo' target='_blank')
                                h3 Rosewood São Paulo
                            p
                                | O hotel Rosewood São Paulo tem uma localização central no complexo Cidade Matarazzo, próximo à Avenida Paulista e suas inúmeras atrações culturais e lojas. A cerimônia e a recepção serão realizadas dentro da propriedade do hotel. 
                                a(href='mailto:saopaulo.reservations@rosewoodhotels.com') Convidados receberão um desconto de 12% na diária e café da manhã gratuito ao enviar um e-mail para o hotel mencionando nosso casamento
                                | .
                            address
                                p
                                    strong.text-uppercase Endereço:
                                    | 
                                    a(href='https://maps.app.goo.gl/StwrtFRVXJkzAeXU8' target='_blank') R. Itapeva, 435, São Paulo, Brasil
                            p
                                strong.text-uppercase Faixa de preço:
                                |  R$2.500-3.500/noite

                //- Hotel One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/portobay.jpg' alt="Entrada do L'Hotel PortoBay São Paulo" loading='lazy')
                    .col-lg-6.order-lg-first
                        .text-center.h-100.hotel
                            .d-flex.h-100
                                .hotel-text.w-100.my-auto.text-center
                                    a(href='https://www.portobay.com/pt/hoteis/hoteis-sao-paulo/l-hotel-portobay-sao-paulo/' target='_blank')
                                        h3 L'Hotel PortoBay São Paulo
                                    p
                                        | O L'Hotel PortoBay São Paulo é um hotel boutique a 10 minutos do local. O hotel oferece uma piscina aquecida (julho é inverno no Brasil), um spa e um excelente restaurante. 
                                        a(href='mailto:reservas@portobay.com.br') Convidados receberão um desconto de 20% na diária ao enviar um e-mail para o hotel mencionando nosso casamento
                                        | .
                                    address
                                        p
                                            strong.text-uppercase Endereço:
                                            | 
                                            a(href='https://maps.app.goo.gl/yj3FGjuVDhVG1yix9' target='_blank') Al. Campinas, 266, São Paulo, Brasil
                                    p
                                        strong.text-uppercase Faixa de preço:
                                        |  R$700-1.000/noite

                //- Hotel Two Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/intercity.jpg' alt="Entrada do Intercity The Universe Paulista" loading='lazy')
                    .col-lg-6
                        .text-center.h-100.hotel
                            .d-flex.h-100
                                .hotel-text.w-100.my-auto.text-center
                                    a(href='https://book.omnibees.com/hotelresults?q=3514&lang=pt-BR&currencyId=16&CheckIn=24072025&CheckOut=28072025&Code=WEDDING2607' target='_blank')
                                        h3 Intercity The Universe Paulista
                                    p
                                        | Intercity The Universe Paulista está localizado no coração de São Paulo, a apenas algumas quadras da Avenida Paulista. O hotel oferece uma variedade de comodidades, incluindo piscina, academia, sauna seca e restaurante. Os quartos são equipados com mini cozinhas, o que o torna conveniente para estadias mais longas. 
                                        a(href='https://book.omnibees.com/hotelresults?q=3514&lang=pt-BR&currencyId=16&CheckIn=24072025&CheckOut=28072025&Code=WEDDING2607' target='_blank') Convidados receberão um desconto de 20% na diária ao reservar online com código
                                        | 
                                        code WEDDING2607
                                        | .
                                    address
                                        p
                                            strong.text-uppercase Endereço:
                                            | 
                                            a(href='https://maps.app.goo.gl/xE2uNV3meVVD1gLH9' target='_blank') R. Pamplona, 83, São Paulo, Brazil
                                    p 
                                        strong.text-uppercase Faixa de preço:
                                        |  R$350-550/noite

                //- Hotel Three Row
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='/assets/img/wallstreet.jpg' alt='Área de check-in do Hotel Paulista Wall Street' loading='lazy')
                    .col-lg-6.order-lg-first
                        .text-center.h-100.hotel
                            .d-flex.h-100
                                .hotel-text.w-100.my-auto.text-center
                                    a(href='https://book.omnibees.com/hotelresults?q=13058&lang=pt-BR&currencyId=16&CheckIn=24072025&CheckOut=28072025&Code=MATTHEWANDMARIA' target='_blank')
                                        h3 Hotel Paulista Wall Street
                                    p
                                        | O Hotel Paulista Wall Street é um hotel localizado atravessando a rua do local do casamento. As suítes premium foram recentemente reformadas e oferecem um excelente custo-benefício. Sua localização privilegiada no centro de São Paulo o situa próximo a muitas das atrações da cidade. 
                                        a(href='https://book.omnibees.com/hotelresults?q=13058&lang=pt-BR&currencyId=16&CheckIn=24072025&CheckOut=28072025&Code=MATTHEWANDMARIA' target='_blank') Convidados receberão um desconto de 12% na diária ao reservar online com código
                                        | 
                                        code MATTHEWANDMARIA
                                        | .
                                    address
                                        p
                                            strong.text-uppercase Endereço:
                                            | 
                                            a(href='https://maps.app.goo.gl/1oqCQ31fJSFN9de4A' target='_blank') R. Itapeva, 636, São Paulo, Brasil
                                    p
                                        strong.text-uppercase Faixa de preço:
                                        |  R$350-550/noite

        //- Getting There
        section#getting-there.getting-there-section.py-5.bg-light.bg-handmade-paper.shadow-sm
            .container.p-4.px-lg-5

                //- Bird Image
                .row.justify-content-center
                    .col-lg-8.text-center
                        img.my-5.img-fluid(src='/assets/img/cbird1.png' alt='Imagem decorativa de dois pássaros pousados em um arranjo floral' loading='lazy')

        //- Contact
        footer.footer.small.bg-light.bg-handmade-paper.shadow-sm
            #contact.contact-section.shadow-sm.bg-spattern2
                .container.p-4.pb-5.px-lg-5
                    .row.gx-4.gx-lg-5
                        .col-md-4.mb-3.mb-md-0
                            .card.py-4.h-100
                                .card-body.text-center
                                    h3.text-uppercase.m-0 Endereço da cerimônia
                                    hr.my-4.mx-auto
                                    .small.text-black-50
                                        address
                                            a(href='https://maps.app.goo.gl/iyPGE872kzMptWFU6' target='_blank') Capela Santa Luzia, São Paulo, Brasil
                        .col-md-4.mb-3.mb-md-0
                            .card.py-4.h-100
                                .card-body.text-center
                                    h3.text-uppercase.m-0 Email
                                    hr.my-4.mx-auto
                                    .small.text-black-50
                                        a(href='mailto:hello@matthewandmaria.com') hello@matthewandmaria.com
                        .col-md-4.mb-3.mb-md-0
                            .card.py-4.h-100
                                .card-body.text-center
                                    h3.text-uppercase.m-0 Telefone/WhatsApp
                                    hr.my-4.mx-auto
                                    .small.text-black-50 
                                        a(href='tel:+16464910173') +1 (646) 491-0173
            .container.p-4.px-lg-5.signoff
                .row.my-4.justify-content-center
                    .col-lg.text-center
                        img(src='/assets/img/footer-image.png' alt='Matthew & Maria Fernanda' width='1000px' loading='lazy').img-fluid
                    .col-lg-4.d-flex.flex-column.justify-content-center
                        .row.my-4
                            p.valediction Esperamos vê-lo lá,
                        .row
                            .d-flex.flex-column.align-items-center.justify-content-end.author-signature
                                img(src='/assets/img/signature-mwt.svg' alt='Matthew W. Thomas' width='300' loading='lazy')
                                hr.m-0.mb-4
                                p.text-uppercase Matthew W. Thomas
                            .d-flex.flex-column.align-items-center.justify-content-end.author-signature
                                img(src='/assets/img/signature-mfpb.svg' alt='Maria Fernanda Petri Betto' width='300' loading='lazy')
                                hr.m-0.mb-4
                                p.text-uppercase Maria Fernanda Petri Betto
