//
// Colors
// 

// Color system

// Grayscale

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Colors

$dblue: #184e73;
$gold: #85461E;
$lblue: #81adc8;
$yellow: #faff81;
$red: #5B2333;
$green: #50723C;

// State colors

$primary: $dblue;
$secondary: $gold;
$success: $green;
$info: $lblue;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

// Bootstrap color map

$theme-colors: ("primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark);

// Expanded color map

$expanded-colors: ('black': $black,
    'white': $white,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $expanded-colors);

// Override new colors
$body-emphasis-color: adjust-color($secondary, $lightness: -10%);

// Override Bootstrap contrast ratio

$min-contrast-ratio: 2.5;