//
// Typography
//

// Override Bootstrap typography variables (Geometric Humanist)

$font-family-base: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
  sans-serif;
$headings-font-family: Didot, "Bodoni MT", "Noto Serif Display",
  "URW Palladio L", P052, Sylfaen, serif;
$base-letter-spacing: 0.0625em;

// Custom font for masthead

$font-family-decorative: "Parisienne", "Segoe Print", "Bradley Hand", Chilanka,
  TSCu_Comic, casual, cursive;
